@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #fffffe;
    --text: #2b2c34;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #16161a;
        --text: #fffffe;
        --link: #7f5af0;
        --inlineCode-bg: #282a36;
        --inlineCode-text: #fffffe;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer components {
    .underline-hover {
        position: relative;
        display: inline-block;
    }

    .underline-hover::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #7f5af0;
        transition: width 0.2s ease-in-out;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

    .article-hover-animation:hover .underline-hover::after,
    .article-hover-animation:focus-within .underline-hover::after {
        width: 100%;
    }
}