@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #fffffe;
    --text: #2b2c34;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #16161a;
        --text: #fffffe;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}